<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro2</title>
    <meta name="description" content="Ejemplo: Login 1">
    <link rel="preload" href="static\css\normalize.css" as="style">
    <link rel="stylesheet" href="static\css\normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap" rel="stylesheet">
    <link rel="preload" href="static\css\style.css" as="style">
    <link rel="stylesheet" href="static\css\style.css">
</head>
<body>
    <section class="fondo fondo--registro">
        <div class="capa-fondo">
            <main class="contenedor">
                <div class="contenido">
                    <h1>Ingresa Datos</h1>
                    <form class="formulario-registro" method="POST" action="/">
                        <div class="campoIzq sexo">
                            <select class="registro__field" id="sexo" name="sexo">
                                <option value="" disabled selected>Sexo</option>
                                <option value="Hombre">Hombre</option>
                                <option value="Mujer">Mujer</option>
                            </select>
                        </div>
                        <div class="campoDer edad">
                            <input class="registro__field" type="number" placeholder="Edad" id="edad" name="edad" min="1" max="120">
                        </div>
                        <div class="campoIzq tipo-registro">
                            <input class="registro__field" type="text" placeholder="Tipo de Registro" id="tipo-registro" name="tipo-registro">
                        </div>
                        <div class="campoDer servicio-ingreso">
                            <input class="registro__field" type="text" placeholder="Servicio de Ingreso" id="servicio-ingreso" name="servicio-ingreso">
                        </div>
                        <div class="campoIzq diagnostico">
                            <input class="registro__field" type="text" placeholder="Diagnóstico" id="diagnostico" name="diagnostico">
                        </div>
                        <button type="submit" class="boton boton--secundario">ENVIAR</button>
                    </form>
                </div>
            </main>
        </div>
    </section>
</body>
</html>
