<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado de la Predicción</title>
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <section class="fondo fondo--registro">
        <div class="capa-fondo">
            <main class="contenedor">
                <div class="contenido">
                    <h1>Resultado de la Predicción</h1>
                    <p>El resultado es: {{ resultado }}</p>
                    <a href="/" class="boton boton--secundario">Volver</a>
                </div>
            </main>
        </div>
    </section>
</body>
</html>
